.Rproj.user
.Rhistory
.RData
.httr-oauth
docs.Rproj
graphTweets.graphml
tweets2earth.kml
x.kml
Benghazi
bibler.html
school_earnings.csv
terms.RData
bibler_cache
bibler_files
bibler_modal.html
rodham.html
oRion.html
youTubeDataR.html
portfolio.Rmd
portfolio.html
portfoliostyles.css
